@font-face{
  font-family: "Scriptina";
  src: url(../fonts/SCRIPTIN.ttf);
}
@font-face{
  font-family: "Alegreya";
  src: url(../fonts/Alegreya-Bold.ttf);
}
@font-face{
  font-family: "PlayfairDisplay";
  src: url(../fonts/PlayfairDisplay-Bold.ttf);
}
@font-face{
  font-family: "ProximaNova";
  src: url(../fonts/Proxima-Nova-Regular.ttf);
}

body{
  width: 1600px;
  margin: -20px auto;
  background-color: #6c6c6c;
  box-shadow: 0 0 120px rgba(0,0,0,0.7);
}
header{
  position: absolute;
  color: #fff;
}
header .nav-logo{
  font-family: "Scriptina", sans-serif;
  font-style: italic;
  font-size: 30px;
  display: inline-block;
  padding-left: 170px;
  box-sizing: border-box;
  vertical-align: middle;
  margin-top: -20px;
  margin-right: 100px;
}

.bg-image{
  background-image: url(../img/background-bread.jpg);
  background-size: contain;
  height: 900px;
}
.bread-logo{
  width: 100%;
  position: absolute;
  left: 50%;
  margin-left: -808px;
  top: 848px;
}
header nav{
  display: inline-block;
  background-color: rgba(108, 108, 108, 0.5);
  width: 1600px;
}
header ul{
  display: inline-block;
  vertical-align: baseline;
}
header ul li{
  display: inline-block;
  font-family: "Alegreya";
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 4px;
  margin-right: 30px;
}
header ul li a{
  text-decoration: none;
  color: #fff;
}
header ul li a:hover{
  text-decoration: none;
  color: rgb(102, 41, 0);
}
.bg-image h1{
  padding-top: 250px;
  color: #fff;
  font-family: "PlayfairDisplay";
  font-weight: bold;
  font-size: 92px;
  text-align: center;
}
.bg-image div{
  text-align: center;
  color: #fff;
  font-size: 24px;
  font-family: "Myriad";
}
.bg-image a{
  display: block;
  width: 200px;
  height: 50px;
  border: 1px dashed #6c6c6c;
  background: rgba(86, 83, 76, 0.5);
  color: #fff;
  text-decoration: none;
  text-align: center;
  line-height: 50px;
  text-transform: uppercase;
  letter-spacing: 3px;
  position: absolute;
  margin-left: -100px;
  left: 50%;
  margin-top: 130px;
}
.content-chef{
  background-color: #fff;
  display: block;
  /*background-size: contain;*/
  height: 750px;
  margin-top: -38px;;
}
.left-sidebar{
  display: inline-block;
  width: 50%;
}
.left-sidebar h2{
  font-size: 48px;
  display: block;
  font-family: "Alegreya";
  font-weight: bold;
  color: #56534c;
  padding-top: 100px;
  text-align: center;
  margin-bottom: 0px;
}
.left-sidebar .underheader {
  font-size: 14px;
  display: block;
  font-family: "Alegreya";
  font-weight: bold;
  color: #a47d5e;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
}
.left-sidebar p{
  font-size: 14px;
  display: block;
  text-align: center;
  padding: 0px 165px 0px 165px;
  font-family: "ProximaNova";
  letter-spacing: 1px;
  padding-top: 40px;
}
.left-sidebar .chef-cook {
  font-size: 24px;
  display: block;
  font-family: "Alegreya";
  font-weight: bold;
  color: #56534c;
  text-align: center;
  margin-top: 40px;
}
.left-sidebar .left-name{
  display: inline-block;
  font-family: "Alegreya";
  font-size: 24px;
  color: #56534c;
  margin-top: 80px;
  margin-left: 240px;
  margin-right: 34px;
  padding-left: 10px;
  padding-right: 10px;
  border-top: 1px solid #d7d5ca;
  border-bottom: 1px solid #d7d5ca;
  vertical-align: middle;
}
.left-sidebar .chef{
  display: inline-block;
  position: absolute;
  background-image: url(../img/baker.png);
  width: 100px;
  height: 100px;
  top: 1370px;
  left: 740px;
}
.left-sidebar .right-name{
  display: inline-block;
  font-family: "Alegreya";
  font-size: 24px;
  color: #56534c;
  margin-left: 34px;
  margin-top: 80px;
  margin-left: 110px;
  padding-left: 10px;
  padding-right: 10px;
  border-top: 1px solid #d7d5ca;
  border-bottom: 1px solid #d7d5ca;
  vertical-align: middle;
}
.left-sidebar .quotation{
  font-family: "Scriptina";
  display: inline-block;
  font-size: 24px;
  color: #c2a893;
  margin-left: 270px;
  margin-top: 70px;
  width: 280px;
  text-align: center;
  line-height: 28px;
}
.right-sidebar .side-advertisement{
  display: inline-block;
  width: 611px;
  height: 520px;
  background-image: url(../img/dishes-shortcut.jpg);
}
.right-sidebar{
  width: 50%;
  margin-top: -520px;
  margin-left: 860px;
}
.content-slider{
  height: 760px;
}
.content-slider{
  height: 754px;
  background-image: url(../img/placeholder2.jpg);
}
.content-slider .dessert-picture{
  display: inline-block;
  position: relative;
  top: 140px;
  left: 264px;
}
.dessert-discription{
  position: relative;
  vertical-align: top;
  display: inline-block;
  width: 515px;
  height: 500px;
  left: 260px;
  top: 140px;
  background-color: #f1ece4;
}
.dessert-discription h2{
  font-size: 48px;
  font-family: "Alegreya";
  font-weight: bold;
  color: #56534c;
  text-align: center;
}
.dessert-discription .underheader{
  font-size: 18px;
  display: block;
  font-family: "Alegreya";
  font-weight: bold;
  color: #a47d5e;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
}
.dessert-discription p{
  font-size: 16px;
  display: block;
  text-align: center;
  padding: 0px 32px 0px 32px;
  font-family: "ProximaNova";
  letter-spacing: 1px;
}
.breakfast-menu{
  height: 760px;
  background-image: url(../img/placeholder1.jpg);
  background-size: cover;
}
.breakfast-menu h2{
  margin-top: 0px;
}
.container-breakfast{
  display: inline-block;
  margin-left: 395px;
  margin-top: 90px;
  text-align: center;
}
.container-breakfast div h2,h3{
  color: #ffffff;
}
.container-breakfast div h3{
  font-size: 30px;

}

.container-breakfast div h2{
  font-size: 60px;
  font-family: "Alegreya";
  letter-spacing: 2px;
  margin-bottom: 0px;
}
.container-breakfast .menu-name span{
  color: #c8a593;
  font-size: 18px;
}
.container-breakfast .ingredients{
  color: #c2beba;
  font-size: 16px;
  font-family: "Alegreya";
}
.container-breakfast .price{
  color: #dfc691;
  font-size: 36px;
  font-family: "Alegreya";
}
.container-recipe{
  height: 980px;
  background-color: #ffffff;
}
.container-recipe img{
  display: block;
  margin: 0 auto;
}
.container-recipe h1{
  font-size: 48px;
  font-family: "Alegreya";
  margin-top: 0px;
  margin-bottom: 0px;
  color: #56534c;
  text-align: center;
  
}
.container-recipe span{
  font-size: 18px;
  font-family: "Alegreya";
  display: block;
  text-align: center;
  color: #56534c;
}
.ingredient-image h3{
  color: #a47d5e;
  font-family: "Alegreya";
  font-size: 30px;
  text-align: center;
  margin-top: 0px;
}
.container-recipe .ingredient-specific{
  display: block;
}
.container-recipe .left-container{
  width: 400px;
  margin-left: 100px;
}
.container-recipe .right-container{
  width: 1200px;
  position: relative; 
  top: -660px; 
  left: 470px;
}
#underheader{
  color: #a47d5e;
  text-transform: uppercase;
}
footer {
  display: inline-block;
  background-color: #efece1;
  width: 1600px;
  max-height: 94px;
}
footer ul{
  display: inline-block;
  vertical-align: baseline;
  padding-left: 260px;
}
footer ul li{
  display: inline-block;
  font-family: "Alegreya";
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 4px;
  margin-right: 30px;
}
footer ul li a{
  text-decoration: none;
  color: black;
}
footer ul li a:hover{
  text-decoration: none;
  color: rgb(102, 41, 0);
}
footer .nav-logo{
  font-family: "Scriptina", sans-serif;
  font-style: italic;
  font-size: 30px;
  display: inline-block;
  padding-left: 20px;
  padding-right: 40px;
  box-sizing: border-box;
  vertical-align: middle;
  margin-top: -20px;
}